--
-- PostgreSQL database dump
--

\restrict L1T8eb4AQu363x2gb1xPtmp5voN9xNVd338XLbx9XdLsam8jKT1cInhsPJlbYPJ

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anamnesis; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.anamnesis (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "ownerUid" text NOT NULL,
    procedure text DEFAULT 'Geral'::text NOT NULL,
    content text NOT NULL,
    "signatureUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.anamnesis OWNER TO sallonpromanager_user;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.appointments (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    "clientId" text NOT NULL,
    "clientName" text NOT NULL,
    phone text,
    "serviceId" text NOT NULL,
    "serviceName" text NOT NULL,
    "barberId" text NOT NULL,
    "barberName" text NOT NULL,
    "staffId" text,
    "staffName" text,
    date timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'scheduled'::text NOT NULL,
    price double precision NOT NULL,
    "isFitIn" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.appointments OWNER TO sallonpromanager_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.clients (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    email text,
    notes text,
    "loyaltyPoints" integer DEFAULT 0 NOT NULL,
    "loyaltyVisits" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.clients OWNER TO sallonpromanager_user;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "priceMonthly" double precision NOT NULL,
    "priceYearly" double precision NOT NULL,
    features text
);


ALTER TABLE public.plans OWNER TO sallonpromanager_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.products (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    cost double precision NOT NULL,
    stock integer NOT NULL,
    category text NOT NULL
);


ALTER TABLE public.products OWNER TO sallonpromanager_user;

--
-- Name: services; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.services (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    name text NOT NULL,
    duration integer NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public.services OWNER TO sallonpromanager_user;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.settings (
    uid text NOT NULL,
    slug text,
    "logoUrl" text,
    address text,
    "addressNumber" text,
    neighborhood text,
    city text,
    state text,
    "zipCode" text,
    cnpj text,
    description text,
    phone text,
    instagram text,
    facebook text,
    tiktok text,
    timezone text,
    "businessHours" text,
    "whatsappConfig" text,
    holidays text,
    "fidelityConfig" text
);


ALTER TABLE public.settings OWNER TO sallonpromanager_user;

--
-- Name: staff; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.staff (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    name text NOT NULL,
    phone text,
    "commissionPercentage" double precision DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    portfolio text
);


ALTER TABLE public.staff OWNER TO sallonpromanager_user;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.subscriptions (
    uid text NOT NULL,
    "planId" text NOT NULL,
    status text NOT NULL,
    "billingCycle" text DEFAULT 'monthly'::text NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "currentPeriodEnd" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO sallonpromanager_user;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    type text NOT NULL,
    amount double precision NOT NULL,
    description text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    category text NOT NULL
);


ALTER TABLE public.transactions OWNER TO sallonpromanager_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'barber'::text NOT NULL,
    "shopName" text,
    slug text,
    status text DEFAULT 'active'::text NOT NULL,
    "planId" text,
    phone text,
    "billingCycle" text DEFAULT 'monthly'::text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "resetPasswordToken" text,
    "resetPasswordExpires" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO sallonpromanager_user;

--
-- Name: wallet_transactions; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.wallet_transactions (
    id text NOT NULL,
    "walletId" text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    amount numeric(65,30) NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.wallet_transactions OWNER TO sallonpromanager_user;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.wallets (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    balance numeric(65,30) DEFAULT 0.00 NOT NULL,
    currency text DEFAULT 'BRL'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.wallets OWNER TO sallonpromanager_user;

--
-- Name: whatsapp_messages; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.whatsapp_messages (
    id text NOT NULL,
    "ownerUid" text NOT NULL,
    "recipientNumber" text,
    "recipientName" text,
    content text,
    type text,
    status text,
    "externalId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.whatsapp_messages OWNER TO sallonpromanager_user;

--
-- Name: whatsapp_settings; Type: TABLE; Schema: public; Owner: sallonpromanager_user
--

CREATE TABLE public.whatsapp_settings (
    uid text NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    "apiKey" text,
    templates text,
    "phoneNumberId" text,
    "wabaId" text,
    status text DEFAULT 'disconnected'::text NOT NULL,
    "wahaInstanceName" text DEFAULT 'default'::text
);


ALTER TABLE public.whatsapp_settings OWNER TO sallonpromanager_user;

--
-- Data for Name: anamnesis; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.anamnesis (id, "clientId", "ownerUid", procedure, content, "signatureUrl", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.appointments (id, "ownerUid", "clientId", "clientName", phone, "serviceId", "serviceName", "barberId", "barberName", "staffId", "staffName", date, status, price, "isFitIn", "createdAt") FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.clients (id, "ownerUid", name, phone, email, notes, "loyaltyPoints", "loyaltyVisits", "createdAt") FROM stdin;
\.


--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.plans (id, name, slug, "priceMonthly", "priceYearly", features) FROM stdin;
plan_bronze	Bronze	bronze	27.9	279	{"staffLimit":1,"inventory":false,"reports":false,"whatsapp":false}
plan_silver	Prata	silver	89.9	899	{"staffLimit":null,"inventory":true,"reports":true,"whatsapp":false}
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.products (id, "ownerUid", name, price, cost, stock, category) FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.services (id, "ownerUid", name, duration, price) FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--



--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.staff (id, "ownerUid", name, phone, "commissionPercentage", active, portfolio) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.subscriptions (uid, "planId", status, "billingCycle", "startDate", "endDate", "currentPeriodEnd", "updatedAt") FROM stdin;
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.transactions (id, "ownerUid", type, amount, description, date, category) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--



--
-- Data for Name: wallet_transactions; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.wallet_transactions (id, "walletId", type, category, amount, description, "createdAt") FROM stdin;
5207afc8-48e3-4505-9b1a-e94901b72b07	58b1db4c-6630-43b2-890e-9c4ce06c558d	credit	recharge	10.000000000000000000000000000000	Recarga de Teste (Manual)	2026-03-25 11:43:31.254
\.


--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.wallets (id, "ownerUid", balance, currency, "isActive", "createdAt", "updatedAt") FROM stdin;
7f897b5a-cbeb-4075-b4f4-860ec23c061c	a100c42d-3c7f-42a0-8ec7-61b6cff5685d	0.000000000000000000000000000000	BRL	f	2026-03-25 10:39:02.882	2026-03-25 10:40:32.319
58b1db4c-6630-43b2-890e-9c4ce06c558d	ac31d5ba-2adf-4f8f-afb5-6dfa2eec449c	10.000000000000000000000000000000	BRL	t	2026-03-25 11:43:31.243	2026-03-25 11:43:31.243
841c6fc9-6568-4a6b-b39c-15d591ea8c67	3eaa4a59-5006-455c-a9be-5a14b5ffe9cf	0.000000000000000000000000000000	BRL	t	2026-03-25 16:07:02.019	2026-03-25 16:07:02.019
\.


--
-- Data for Name: whatsapp_messages; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--

COPY public.whatsapp_messages (id, "ownerUid", "recipientNumber", "recipientName", content, type, status, "externalId", "createdAt") FROM stdin;
\.


--
-- Data for Name: whatsapp_settings; Type: TABLE DATA; Schema: public; Owner: sallonpromanager_user
--



--
-- Name: anamnesis anamnesis_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT anamnesis_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (uid);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (uid);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wallet_transactions wallet_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT wallet_transactions_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_messages whatsapp_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.whatsapp_messages
    ADD CONSTRAINT whatsapp_messages_pkey PRIMARY KEY (id);


--
-- Name: whatsapp_settings whatsapp_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.whatsapp_settings
    ADD CONSTRAINT whatsapp_settings_pkey PRIMARY KEY (uid);


--
-- Name: plans_slug_key; Type: INDEX; Schema: public; Owner: sallonpromanager_user
--

CREATE UNIQUE INDEX plans_slug_key ON public.plans USING btree (slug);


--
-- Name: settings_slug_key; Type: INDEX; Schema: public; Owner: sallonpromanager_user
--

CREATE UNIQUE INDEX settings_slug_key ON public.settings USING btree (slug);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: sallonpromanager_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_slug_key; Type: INDEX; Schema: public; Owner: sallonpromanager_user
--

CREATE UNIQUE INDEX users_slug_key ON public.users USING btree (slug);


--
-- Name: wallets_ownerUid_key; Type: INDEX; Schema: public; Owner: sallonpromanager_user
--

CREATE UNIQUE INDEX "wallets_ownerUid_key" ON public.wallets USING btree ("ownerUid");


--
-- Name: anamnesis anamnesis_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT "anamnesis_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: anamnesis anamnesis_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT "anamnesis_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: appointments appointments_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: appointments appointments_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: appointments appointments_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT "appointments_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: clients clients_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "clients_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: services services_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "services_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: settings settings_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: staff staff_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT "staff_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT "subscriptions_planId_fkey" FOREIGN KEY ("planId") REFERENCES public.plans(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: subscriptions subscriptions_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: transactions transactions_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT "transactions_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: wallet_transactions wallet_transactions_walletId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT "wallet_transactions_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES public.wallets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: wallets wallets_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT "wallets_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: whatsapp_messages whatsapp_messages_ownerUid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.whatsapp_messages
    ADD CONSTRAINT "whatsapp_messages_ownerUid_fkey" FOREIGN KEY ("ownerUid") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: whatsapp_settings whatsapp_settings_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sallonpromanager_user
--

ALTER TABLE ONLY public.whatsapp_settings
    ADD CONSTRAINT whatsapp_settings_uid_fkey FOREIGN KEY (uid) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict L1T8eb4AQu363x2gb1xPtmp5voN9xNVd338XLbx9XdLsam8jKT1cInhsPJlbYPJ

